<div [formGroup]="form">
    <div>
        <span>Numbers with decimals input pattern: </span>
        <input formControlName="decimalInputCurrency"
               inputRestrictionPattern="^[-+]?\d*$"
               [value]="form.get('decimalInputCurrency')?.value | decimalFormat">
    </div>

    <div>
        <span>Letters only input pattern: </span>
        <input formControlName="letterOnlyInput"
               inputRestrictionPattern="[a-zA-Z]"
               [value]="form.get('letterOnlyInput')?.value">
    </div>

    <button (click)="outputValue()">Console log output</button>
</div>

